<template>
  <form role="form">
    <button click.trigger="left()" class="ui icon button">
      <i class="arrow circle left icon"></i>
    </button>
    <button click.trigger="forward()" class="ui icon button">
      <i class="arrow circle up icon"></i>
    </button>
    <button click.trigger="backward()" class="ui icon button">
      <i class="arrow circle down icon"></i>
    </button>
    <button click.trigger="right()" class="ui icon button">
      <i class="arrow circle right icon"></i>
    </button>

    <button click.trigger="stop()" class="ui icon button">
      <i class="stop icon"></i>
    </button>

    <button click.trigger="speed()" class="ui icon button">
      <i class="paw icon"></i>
    </button>

    <!--
    <button click.trigger="endCall()" class="ui icon button">
      <i class="car icon"></i>
    </button>

    <button click.trigger="endCall()" class="ui icon button">
      <i class="space shuttle icon"></i>
    </button>
    -->
  </form>
</template>